
.main-head {
	margin: 0 auto;
	width: $mobile-width;
}

.main-head__menu {
	display: flex;
	flex-wrap: wrap;
	// *** check if someone rip
	justify-content: space-between;
	// ***

	position: relative;

}

@media (max-width: $tablet-width) {
	.main-head__menu--opened .main-menu__item{
		display: block;

		&--not-active {
			display: none;
		}
	}

	.main-head__menu--closed .main-menu__item {
		display: none;

		&--active {
			display: block;
		}
	}

	.main-head__toggle {
		margin: 0;
		padding: 0;

		cursor: pointer;
		border: none;
		
		width: 20px;
		height: 20px;

		display: block;
		position: absolute;
		right: 30px;
		top: 30px;

		z-index: 3;

		// &::hover,
		// &::active {
		// 	//Если меняется фон кнопки - сюда можно поместить значение

		// }
	}

	.main-head__menu--closed .main-head__toggle{

		content: "";
		
		width: 20px;
		height: 20px;

		display: block;
		position: absolute;
		right: 30px;
		top: 30px;

		background: url("../img/burger.png") center center no-repeat;
		background-size: contain;
	}

	.main-head__menu--opened .main-head__toggle{

		content: "";
		
		width: 20px;
		height: 20px;

		display: block;
		position: absolute;
		right: 30px;
		top: 30px;

		background: url("../img/menu-close.png") center center no-repeat;
		background-size: contain;
	}
}

@media (min-width: $tablet-width) {
	.main-head {
		width: $tablet-width;
	}

	.main-head__toggle {
		display: none;
	}
}

@media (min-width: $desktop-width) {
	.main-head {
		width: $desktop-width;
	}

	.main-head__toggle {
		display: none;
	}
}
