@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, Arial, sans-serif; }

.central-location {
  width: 320px;
  margin: 0 auto;
  padding: 0; }

@media (min-width: 768px) {
  .central-location {
    width: 768px; } }

@media (min-width: 1250px) {
  .central-location {
    width: 1250px; } }

.zigzag-border {
  padding: 0;
  margin: 35px 0;
  display: flex;
  width: auto;
  height: 6px;
  background: url("../img/zigzag-line.png") center;
  background-size: cover; }

@media (min-width: 768px) {
  .zigzag-border {
    padding: 0;
    margin: 50px 0;
    width: auto;
    height: 17px; } }

@media (min-width: 1250px) {
  .zigzag-border {
    padding: 0;
    margin: 70px 100px 60px 100px;
    width: auto;
    height: 25px; } }

.main-head {
  margin: 0 auto;
  width: 320px; }

.main-head__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; }

@media (max-width: 768px) {
  .main-head__menu--opened .main-menu__item {
    display: block; }
    .main-head__menu--opened .main-menu__item--not-active {
      display: none; }
  .main-head__menu--closed .main-menu__item {
    display: none; }
    .main-head__menu--closed .main-menu__item--active {
      display: block; }
  .main-head__toggle {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 3; }
  .main-head__menu--closed .main-head__toggle {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    background: url("../img/burger.png") center center no-repeat;
    background-size: contain; }
  .main-head__menu--opened .main-head__toggle {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    background: url("../img/menu-close.png") center center no-repeat;
    background-size: contain; } }

@media (min-width: 768px) {
  .main-head {
    width: 768px; }
  .main-head__toggle {
    display: none; } }

@media (min-width: 1250px) {
  .main-head {
    width: 1250px; }
  .main-head__toggle {
    display: none; } }

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1; }

.main-menu__item {
  display: flex;
  width: 320px;
  height: 79px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ececec;
  position: relative; }

.main-menu__mobile-logo {
  margin: 0 auto;
  padding: 0;
  display: block; }

.main-menu__tablet-logo {
  margin: 0;
  padding: 0;
  display: none; }

.main-menu__desktop-logo {
  margin: 0;
  padding: 0;
  display: none; }

.main-menu__close {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  background: url("../img/menu-close.png") center center no-repeat;
  background-size: contain; }

.main-menu__link {
  margin: 0;
  padding: 0;
  display: flex;
  width: 320px;
  height: 100%;
  max-height: 79px;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000; }

.main-menu__icon {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  display: none;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: 0.2; }

.main-menu__item-name {
  margin: 0;
  padding: 0 0 0 75px; }

.main-menu__icon--search {
  display: block;
  position: absolute;
  left: 30px;
  top: 30px;
  background: url("../img/icon-search.png") center center no-repeat;
  background-size: contain; }

.main-menu__icon--cart {
  display: block;
  position: absolute;
  left: 30px;
  top: 30px;
  background: url("../img/icon-cart.png") center center no-repeat;
  background-size: contain; }

.main-menu__item--new-goods {
  display: none; }

.main-menu__item--sale {
  display: none; }

.main-menu__item--delivery {
  display: none; }

.main-menu__link:hover .main-menu__item-name {
  opacity: 0.6; }

.main-menu__link:active .main-menu__item-name {
  opacity: 0.3; }

.main-menu__link--logo:hover {
  opacity: 0.6; }

.main-menu__link--logo:active {
  opacity: 0.3; }

.main-menu__link:hover .main-menu__icon {
  -webkit-filter: none;
          filter: none;
  opacity: 1; }

.main-menu__link:active .main-menu__icon {
  -webkit-filter: none;
          filter: none;
  opacity: 0.3; }

@media (min-width: 768px) {
  .main-menu__mobile-logo {
    margin: 0;
    padding: 0;
    display: none; }
  .main-menu__tablet-logo {
    margin: 0;
    padding: 0;
    display: block; }
  .main-menu__desktop-logo {
    margin: 0;
    padding: 0;
    display: none; }
  .main-menu__item {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    position: relative; }
  .main-menu__link {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 90px;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000; }
  .main-menu__item-name {
    margin: 0;
    padding: 0; }
  .main-menu__close {
    display: none; }
  .main-menu__item--logo {
    order: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 370px;
    height: 90px;
    border-bottom: 1px solid #e7e7e7; }
  .main-menu__item--сatalog {
    order: 4;
    position: absolute;
    left: 50px;
    top: 110px; }
  .main-menu__item--order {
    order: 5;
    position: absolute;
    left: 215px;
    top: 110px; }
  .main-menu__item--search {
    order: 2;
    width: 80px;
    height: 90px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7; }
  .main-menu__item--сart {
    order: 3;
    flex-grow: 1;
    border-bottom: 1px solid #e7e7e7; }
  .main-menu__item--new-goods {
    display: none; }
  .main-menu__item--sale {
    display: none; }
  .main-menu__item--delivery {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 110px;
    right: 50px;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #000000; }
  .main-menu__item-name--search {
    display: none; }
  .main-menu__link--logo {
    margin: 0 0 0 50px;
    padding: 0;
    display: flex;
    width: auto;
    height: auto; }
  .main-menu__icon--search {
    display: block;
    position: absolute;
    left: 30px;
    top: 35px;
    background: url("../img/icon-search.png") center center no-repeat;
    background-size: contain; }
  .main-menu__icon--cart {
    display: block;
    position: absolute;
    left: 30px;
    top: 35px;
    background: url("../img/icon-cart.png") center center no-repeat;
    background-size: contain; }
  .main-menu__item-name--cart {
    padding: 0 0 0 85px; }
  .main-menu__item-name--catalog {
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #000000; }
  .main-menu__item-name--order {
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #000000; }
  .main-menu__link:hover .main-menu__item-name {
    opacity: 0.6; }
  .main-menu__link:active .main-menu__item-name {
    opacity: 0.3; }
  .main-menu__link--logo:hover {
    opacity: 0.6; }
  .main-menu__link--logo:active {
    opacity: 0.3; }
  .main-menu__link:hover .main-menu__icon {
    -webkit-filter: none;
            filter: none;
    opacity: 1; }
  .main-menu__link:active .main-menu__icon {
    -webkit-filter: none;
            filter: none;
    opacity: 0.3; } }

@media (min-width: 1250px) {
  .main-menu__close {
    display: none; }
  .main-menu__mobile-logo {
    margin: 0;
    padding: 0;
    display: none; }
  .main-menu__tablet-logo {
    margin: 0;
    padding: 0;
    display: none; }
  .main-menu__desktop-logo {
    margin: 0;
    padding: 0;
    display: block; }
  .main-menu__item {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    position: relative; }
  .main-menu__link {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 90px;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000; }
  .main-menu__item-name {
    margin: 0;
    padding: 0; }
  .main-menu__item--logo {
    order: 3;
    margin: 0;
    padding: 0 100px 0 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 150px;
    height: 90px;
    border-bottom: 1px solid #e7e7e7; }
  .main-menu__item--сatalog {
    order: 1;
    padding: 0 0 0 50px;
    margin: 0 0 0 50px;
    width: 183px;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    position: static; }
  .main-menu__item--order {
    order: 2;
    position: static;
    border-bottom: 1px solid #e7e7e7; }
  .main-menu__item--search {
    order: 4;
    width: 80px;
    height: 90px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7; }
  .main-menu__item--сart {
    order: 5;
    flex-grow: 0;
    width: 315px;
    border-bottom: 1px solid #e7e7e7; }
  .main-menu__item--new-goods {
    order: 6;
    display: block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    position: absolute;
    left: 100px;
    top: 110px; }
  .main-menu__item--sale {
    order: 7;
    display: block;
    position: absolute;
    left: 320px;
    top: 110px; }
  .main-menu__item--delivery {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 110px;
    right: 100px;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #000000; }
  .main-menu__item-name--search {
    display: none; }
  .main-menu__link--logo {
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    width: auto;
    height: auto; }
  .main-menu__icon--search {
    display: block;
    position: absolute;
    left: 30px;
    top: 35px;
    background: url("../img/icon-search.png") center center no-repeat;
    background-size: contain; }
  .main-menu__icon--cart {
    display: block;
    position: absolute;
    left: 30px;
    top: 35px;
    background: url("../img/icon-cart.png") center center no-repeat;
    background-size: contain; }
  .main-menu__item-name--cart {
    padding: 0 0 0 85px; }
  .main-menu__item-name--catalog {
    text-decoration: none;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000; }
  .main-menu__item-name--order {
    margin: 0;
    padding: 0 75px 0 35px;
    text-decoration: none;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000; }
  .main-menu__link:hover .main-menu__item-name {
    opacity: 0.6; }
  .main-menu__link:active .main-menu__item-name {
    opacity: 0.3; }
  .main-menu__link--logo:hover {
    opacity: 0.6; }
  .main-menu__link--logo:active {
    opacity: 0.3; }
  .main-menu__link:hover .main-menu__icon {
    -webkit-filter: none;
            filter: none;
    opacity: 1; }
  .main-menu__link:active .main-menu__icon {
    -webkit-filter: none;
            filter: none;
    opacity: 0.3; } }

.banner {
  margin: 0;
  padding: 0;
  display: flex;
  width: 320px;
  height: 490px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: url("../img/hero-mobile.jpg") top center no-repeat; }

.banner__delivery {
  display: none; }

.banner__slogan {
  margin: 0;
  padding: 70px 0 0 0;
  width: 300px;
  text-decoration: none;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.banner__options {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: auto;
  list-style: none; }

.banner__option {
  margin: 0;
  padding: 0;
  flex-grow: 1; }

.banner__option-link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 100px;
  background-color: #63d1bb;
  text-decoration: none;
  text-align: center;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff; }

.banner__option-name {
  margin: 0;
  padding: 0 0 0 35px; }

.banner__option-icon {
  margin: 0 27px 0 0;
  padding: 0;
  width: 62px;
  height: 62px;
  opacity: 0.5; }

.banner__zigzag {
  display: none; }

.banner__option-link--last {
  background-color: #56c3b2; }

.banner__option-icon--interior {
  background: url("../img/interior.png") center center no-repeat; }

.banner__option-icon--toy {
  background: url("../img/toy.png") center center no-repeat; }

.banner__option-link:hover {
  background-color: #59d5bc; }

.banner__option-link:active {
  background-color: #59d5bc;
  color: #8be2d0; }

.banner__option-link--last:hover {
  background-color: #46c1ae; }

.banner__option-link--last:active {
  background-color: #46c1ae;
  color: #7ed4c6; }

.banner__option-link:hover .banner__option-icon {
  opacity: 0.7; }

.banner__option-link:active .banner__option-icon {
  opacity: 0.3; }

@media (min-width: 768px) {
  .banner {
    margin: 0;
    padding: 0;
    display: flex;
    width: 768px;
    height: 745px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url("../img/hero-tablet.jpg") top center no-repeat; }
  .banner__delivery {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #000000; }
  .banner__slogan {
    margin: 0;
    padding: 155px 0 0 0;
    width: 768px;
    text-decoration: none;
    text-align: center;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    color: #000000; }
  .banner__options {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 668px;
    height: 120px;
    list-style: none; }
  .banner__option {
    margin: 0;
    padding: 0;
    width: 334px;
    height: auto; }
  .banner__option-link {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 120px;
    background-color: #63d1bb;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff; }
  .banner__option-name {
    margin: 0;
    padding: 0 0 0 35px; }
  .banner__zigzag {
    margin: 0;
    padding: 0;
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    width: 768px;
    height: 12px;
    background: url("../img/zigzag-fill-desktop.png") top center no-repeat;
    background-size: cover; }
  .banner__option-icon {
    margin: 0 27px 0 0;
    padding: 0;
    width: 62px;
    height: 62px;
    opacity: 0.7; }
  .banner__option-link--last {
    background-color: #56c3b2; } }

@media (min-width: 1250px) {
  .banner {
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 1250px;
    height: 745px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url("../img/hero-desktop.jpg") top center no-repeat, #f9f9f9; }
  .banner__delivery {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #000000; }
  .banner__slogan {
    margin: 0;
    padding: 155px 0 0 0;
    width: 768px;
    text-decoration: none;
    text-align: center;
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
    color: #000000; }
  .banner__options {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1050px;
    height: 120px;
    list-style: none; }
  .banner__option {
    margin: 0;
    padding: 0;
    width: 334px;
    height: auto; }
  .banner__option-link {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 120px;
    background-color: #63d1bb;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff; }
  .banner__option-name {
    margin: 0;
    padding: 0 0 0 35px; }
  .banner__zigzag {
    margin: 0;
    padding: 0;
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    width: 1250px;
    height: 18px;
    background: url("../img/zigzag-fill-desktop.png") top center no-repeat;
    background-size: cover; }
  .banner__option-icon {
    margin: 0 27px 0 0;
    padding: 0;
    width: 62px;
    height: 62px;
    opacity: 0.7; }
  .banner__option-link--last {
    background-color: #56c3b2; } }

.best-product {
  margin: 0;
  padding: 0;
  position: relative;
  width: 320px;
  background: url("../img/triple-set-mobile.jpg") center bottom 130px no-repeat; }

.best-product__full-headline {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.best-product__name {
  margin: 0;
  padding: 30px 30px 0 30px;
  display: flex;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  color: #000000; }

.best-product__headline {
  margin: 0;
  padding: 10px 30px 0 30px;
  display: flex;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb; }

.best-product__left-column {
  margin: 0;
  padding: 30px 0 0 0; }

.best-product__description {
  margin: 0;
  padding: 0 30px;
  display: flex;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #444444; }

.best-product__features {
  margin: 0;
  padding: 30px 30px 0 30px; }

.best-product__features-item {
  margin: 0;
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #ececec; }

.best-product__features-name {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100px;
  height: auto;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #444444; }

.best-product__features-value {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  width: auto;
  height: auto;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #444444; }

.best_product__cost {
  margin: 370px 30px 30px 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #444444; }

.best_product__order {
  margin: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444; }

@media (min-width: 768px) {
  .best-product {
    margin: 0 50px;
    padding: 0;
    width: auto;
    height: 555px;
    display: flex;
    flex-direction: column;
    background: url("../img/triple-set-tablet.jpg") right top 150px no-repeat; }
  .best-product__full-headline {
    margin: 0;
    padding: 0;
    display: flex; }
  .best-product__name {
    margin: 0;
    padding: 50px 0 0 0;
    display: flex;
    text-decoration: none;
    font-size: 43px;
    line-height: 43px;
    font-weight: 700;
    color: #000000; }
  .best-product__headline {
    margin: 0;
    padding: 60px 25px 0 0;
    display: flex;
    width: 80px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #63d1bb; }
  .best-product__left-column {
    order: 1;
    margin: 0;
    padding: 0;
    width: 290px; }
  .best-product__description {
    margin: 0;
    padding: 50px 0 0 0;
    display: flex;
    width: 290px;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .best-product__features {
    margin: 35px 0 0 0;
    padding: 0;
    width: 290px; }
  .best-product__features-item {
    margin: 0;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #ececec; }
  .best-product__features-name {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100px;
    height: auto;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #444444; }
  .best-product__features-value {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #444444; }
  .best_product__cost {
    order: 2;
    margin: 55px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #444444; }
  .best_product__order {
    order: 3;
    margin: 33px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    text-decoration: none;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444; } }

@media (min-width: 1250px) {
  .best-product {
    margin: 0 100px;
    padding: 0;
    width: auto;
    height: 710px;
    display: flex;
    flex-direction: column;
    background: url("../img/triple-set-desktop.jpg") right top 75px no-repeat; }
  .best-product__full-headline {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; }
  .best-product__name {
    order: 2;
    margin: 0;
    padding: 135px 0 0 50px;
    display: flex;
    text-decoration: none;
    font-size: 53px;
    line-height: 53px;
    font-weight: 700;
    color: #000000; }
  .best-product__headline {
    order: 1;
    margin: 0;
    padding: 150px 0 0 40px;
    display: flex;
    width: 80px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #63d1bb; }
  .best-product__left-column {
    order: 1;
    margin: 0;
    padding: 0 0 0 175px;
    width: 290px; }
  .best-product__description {
    margin: 0;
    padding: 60px 0 0 0;
    display: flex;
    width: 290px;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .best-product__features {
    margin: 50px 0 0 0;
    padding: 0;
    width: 290px; }
  .best-product__features-item {
    margin: 0;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #ececec; }
  .best-product__features-name {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100px;
    height: auto;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #444444; }
  .best-product__features-value {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #444444; }
  .best_product__cost {
    order: 2;
    margin: 90px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #444444; }
  .best_product__order {
    order: 3;
    margin: 30px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    text-decoration: none;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444; } }

.company-description {
  margin: 0 30px;
  padding: 0; }

.company-description__headline {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  color: #000000; }

.company-description__features-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.company-description__feature {
  margin: 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

.company-description__feature-icon {
  margin: 0;
  padding: 0;
  width: 48px;
  height: 55px;
  display: flex; }

.company-description__feature-extension {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #000000; }

.company-description__feature-icon--flower {
  background: url("../img/icon-flower.png") center top no-repeat; }

.company-description__feature-icon--money {
  background: url("../img/icon-money.png") center top no-repeat; }

.company-description__feature-icon--heart {
  background: url("../img/icon-heart.png") center top no-repeat; }

.company-description__feature-icon--heart {
  background: url("../img/icon-heart.png") center top no-repeat; }

.company-description__feature-icon--ball {
  background: url("../img/icon-ball.png") center top no-repeat;
  position: relative;
  right: 4px; }

.company-description__feature-icon--rocket {
  background: url("../img/icon-rocket.png") center top no-repeat;
  width: 55px;
  height: 55px;
  position: relative;
  right: 6px; }

.company-description__feature-icon--gift {
  background: url("../img/icon-gift.png") center top no-repeat;
  position: relative;
  right: 5px; }

@media (min-width: 768px) {
  .company-description {
    margin: 0 50px;
    padding: 0; }
  .company-description__headline {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 43px;
    line-height: 43px;
    font-weight: 700;
    color: #000000; }
  .company-description__features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 520px;
    list-style: none; }
  .company-description__feature {
    margin: 50px 0 0 0;
    padding: 0;
    width: 300px;
    display: flex;
    flex-direction: column; }
  .company-description__feature-icon {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 55px;
    display: flex; }
  .company-description__feature-extension {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #000000; } }

@media (min-width: 1250px) {
  .company-description {
    margin: 0 275px;
    padding: 0; }
  .company-description__headline {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 53px;
    line-height: 53px;
    font-weight: 700;
    color: #000000; }
  .company-description__features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 520px;
    list-style: none; }
  .company-description__feature {
    margin: 50px 0 0 0;
    padding: 0;
    width: 300px;
    display: flex;
    flex-direction: column; }
  .company-description__feature-icon {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 55px;
    display: flex; }
  .company-description__feature-extension {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #000000; } }

.customer-comments {
  margin: 0 auto;
  padding: 0;
  width: 260px;
  height: auto; }

.customer-comments__headline {
  margin: 60px 0 0 0;
  padding: 0;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  color: #000000; }

.customer-comments__extension {
  margin: 30px 0 35px 0;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: #444444; }

.customer-comments__customer-name {
  margin: 15px 0;
  padding: 0;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #000000; }

.customer-comments__customer-mail {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  font-weight: 500;
  color: #444444; }

.customer-comments__scroll-buttons {
  margin: 35px 0;
  padding: 0;
  display: flex; }

.customer-comments__button {
  margin: 0;
  padding: 0;
  width: 130px;
  height: 50px;
  display: flex;
  border: 1px solid #ececec; }

.customer-comments__feedback-button {
  margin: 0 0 45px 0;
  padding: 0;
  width: 256px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444; }

.customer-comments__button--left {
  width: 129px;
  border-right: 0px;
  background: url("../img/huge-arrow-left.png") center center no-repeat; }

.customer-comments__button--right {
  width: 128px;
  background: url("../img/huge-arrow-right.png") center center no-repeat; }

@media (min-width: 768px) {
  .customer-comments {
    margin: 80px auto 68px auto;
    padding: 0 50px;
    position: relative;
    width: auto;
    height: 457px;
    background: url("../img/review.jpg") top left no-repeat; }
  .customer-comments__headline {
    margin: 0;
    padding: 80px 0 0 0;
    text-decoration: none;
    font-size: 43px;
    line-height: 43px;
    font-weight: 700;
    color: #000000; }
  .customer-comments__extension {
    margin: 60px 0 60px 0;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .customer-comments__customer-name {
    margin: 15px 0;
    padding: 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000; }
  .customer-comments__customer-mail {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    color: #444444; }
  .customer-comments__scroll-buttons {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 370px;
    right: 50px;
    width: 175px;
    display: flex; }
  .customer-comments__button {
    margin: 0;
    padding: 0;
    width: 87px;
    height: 26px;
    display: flex;
    border: 0px solid #ececec; }
  .customer-comments__feedback-button {
    margin: 0 0 45px 0;
    padding: 0;
    position: absolute;
    top: 80px;
    right: 52px;
    width: 171px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444; }
  .customer-comments__button--left {
    width: 129px;
    border-right: 0px;
    background: url("../img/huge-arrow-left.png") center center no-repeat; }
  .customer-comments__button--right {
    width: 128px;
    background: url("../img/huge-arrow-right.png") center center no-repeat; } }

@media (min-width: 1250px) {
  .customer-comments {
    margin: 80px 100px 68px 100px;
    padding: 0 105px 0 175px;
    position: relative;
    width: auto;
    height: 457px;
    background: url("../img/review.jpg") top left no-repeat; }
  .customer-comments__headline {
    margin: 0;
    padding: 80px 0 0 0;
    text-decoration: none;
    font-size: 53px;
    line-height: 53px;
    font-weight: 700;
    color: #000000; }
  .customer-comments__extension {
    margin: 55px 0 45px 0;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .customer-comments__customer-name {
    margin: 15px 0;
    padding: 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000; }
  .customer-comments__customer-mail {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    color: #444444; }
  .customer-comments__scroll-buttons {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 370px;
    right: 0px;
    width: 175px;
    display: flex; }
  .customer-comments__button {
    margin: 0;
    padding: 0;
    width: 87px;
    height: 26px;
    display: flex;
    border: 0px solid #ececec; }
  .customer-comments__feedback-button {
    margin: 0 0 45px 0;
    padding: 0;
    position: absolute;
    top: 80px;
    right: 2px;
    width: 171px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444; }
  .customer-comments__button--left {
    width: 129px;
    border-right: 0px;
    background: url("../img/huge-arrow-left.png") center center no-repeat; }
  .customer-comments__button--right {
    width: 128px;
    background: url("../img/huge-arrow-right.png") center center no-repeat; } }

.our-contacts {
  margin: 0 auto;
  padding: 0; }

.our-contacts__headline {
  margin: 40px auto;
  padding: 0;
  width: 260px;
  height: auto;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000; }

.our-contacts__list {
  margin: 0 auto;
  padding: 0;
  width: 260px;
  height: auto;
  list-style: none; }

.our-contacts__item {
  margin: 35px 0;
  padding: 0;
  width: 260px;
  height: auto;
  display: flex; }

.our-contacts__name {
  margin: 0;
  padding: 0;
  width: 75px;
  height: auto;
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: #444444; }

.our-contacts__extension {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: #444444; }

.our-contacts__map {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 455px;
  display: flex;
  background: url("../img/map-mobile.jpg") center top no-repeat; }

.our-contacts__feedback-button {
  margin: 40px auto;
  padding: 0;
  width: 254px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444; }

.our-contacts__extension--mail {
  border-bottom: 1px solid #62d1ba; }

@media (min-width: 768px) {
  .our-contacts {
    margin: 0 auto;
    padding: 0;
    position: relative; }
  .our-contacts__headline {
    margin: 65px 0 0 50px;
    padding: 0;
    width: 260px;
    height: auto;
    text-decoration: none;
    font-size: 43px;
    line-height: 43px;
    font-weight: 700;
    color: #000000; }
  .our-contacts__list {
    margin: 0 0 0 50px;
    padding: 0;
    display: flex;
    width: auto;
    height: auto;
    list-style: none; }
  .our-contacts__item {
    margin: 35px 35px 35px 0;
    padding: 0;
    width: 300px;
    height: auto;
    display: flex; }
  .our-contacts__name {
    margin: 0;
    padding: 0;
    width: 75px;
    height: auto;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .our-contacts__extension {
    margin: 0;
    padding: 0;
    width: 225px;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .our-contacts__map {
    margin: 0;
    padding: 0;
    width: 768px;
    height: 457px;
    display: flex;
    background: url("../img/map-tablet.jpg") center top no-repeat; }
  .our-contacts__feedback-button {
    margin: 55px auto;
    padding: 0;
    width: 226px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444; }
  .contacts__flag-icon {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: -20px;
    right: 53px;
    width: 47px;
    height: 81px;
    background: url("../img/flag.png") center top no-repeat; }
  .our-contacts__extension--mail {
    width: 205px;
    height: 30px;
    border-bottom: 1px solid #62d1ba; } }

@media (min-width: 1250px) {
  .our-contacts {
    margin: 70px 100px 0 100px;
    padding: 0;
    position: relative; }
  .our-contacts__headline {
    margin: 0;
    padding: 75px 0 0 175px;
    width: 260px;
    height: auto;
    text-decoration: none;
    font-size: 53px;
    line-height: 53px;
    font-weight: 700;
    color: #000000; }
  .our-contacts__list {
    margin: 0 0 0 175px;
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    list-style: none; }
  .our-contacts__item {
    margin: 0 0 30px 0;
    padding: 0;
    width: 300px;
    height: auto;
    display: flex; }
  .our-contacts__name {
    margin: 0;
    padding: 0;
    width: 75px;
    height: auto;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .our-contacts__extension {
    margin: 0;
    padding: 0;
    width: 225px;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .our-contacts__map {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 525px;
    height: 457px;
    display: flex;
    background: url("../img/map-desktop.jpg") center top no-repeat; }
  .our-contacts__feedback-button {
    margin: 45px 0 55px 177px;
    padding: 0;
    width: 226px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444; }
  .contacts__flag-icon {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 65px;
    left: 60px;
    width: 47px;
    height: 81px;
    background: url("../img/flag.png") center top no-repeat; }
  .our-contacts__extension--mail {
    width: 205px;
    height: 30px;
    border-bottom: 1px solid #62d1ba; } }

.contacts {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1; }

.contacts__logo {
  display: none; }

.contacts__logo-picture {
  display: none; }

.contacts__social-networks {
  margin: 0;
  padding: 0;
  width: auto;
  height: 80px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.contacts__icon {
  margin: 0;
  padding: 0 20px;
  width: 25px;
  height: 30px;
  display: flex; }

.contacts__icon-contain {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.contacts__border {
  margin: 0 30px;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #e5e5e5; }

.contacts__creator {
  margin: 0 70px;
  padding: 0;
  width: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
  color: #000000; }

.contacts__html-icon {
  margin: 0;
  padding: 0;
  width: 28px;
  height: 35px;
  background: url("../img/htmlacademy.png") center center no-repeat; }

.contacts__icon-contain--instagram {
  background: url("../img/instagram.png") center center no-repeat; }

.contacts__icon-contain--facebook {
  background: url("../img/facebook.png") center center no-repeat; }

.contacts__icon-contain--twitter {
  background: url("../img/twitter.png") center center no-repeat; }

@media (min-width: 768px) {
  .contacts {
    margin: 0;
    padding: 0 50px;
    width: auto;
    height: 143px;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1; }
  .contacts__logo {
    margin: 51px 0 0 0;
    padding: 0;
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%; }
  .contacts__logo-picture {
    margin: 0;
    padding: 0;
    display: block; }
  .contacts__social-networks {
    margin: auto 0;
    padding: 0;
    width: auto;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contacts__icon {
    margin: 0;
    padding: 0 20px;
    width: 25px;
    height: 30px;
    display: flex; }
  .contacts__icon-contain {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
  .contacts__border {
    margin: 0 30px;
    padding: 0;
    display: none;
    border-bottom: 1px solid #e5e5e5; }
  .contacts__creator {
    margin: 58px 0 0 0;
    padding: 0;
    width: auto;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    font-size: 19px;
    line-height: 19px;
    font-weight: 700;
    color: #000000;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%; }
  .contacts__html-icon {
    margin: 0 0 0 10px;
    padding: 0;
    width: 28px;
    height: 35px;
    background: url("../img/htmlacademy.png") center center no-repeat; }
  .contacts__icon-contain--instagram {
    background: url("../img/instagram.png") center center no-repeat; }
  .contacts__icon-contain--facebook {
    background: url("../img/facebook.png") center center no-repeat; }
  .contacts__icon-contain--twitter {
    background: url("../img/twitter.png") center center no-repeat; } }

@media (min-width: 1250px) {
  .contacts {
    margin: 105px 0 0 0;
    padding: 0 100px;
    width: auto;
    height: 143px;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1; }
  .contacts__logo {
    margin: 51px 0 0 0;
    padding: 0;
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%; }
  .contacts__logo-picture {
    margin: 0;
    padding: 0;
    display: block; }
  .contacts__social-networks {
    margin: auto 0;
    padding: 0;
    width: auto;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contacts__icon {
    margin: 0;
    padding: 0 20px;
    width: 25px;
    height: 30px;
    display: flex; }
  .contacts__icon-contain {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
  .contacts__border {
    margin: 0 30px;
    padding: 0;
    display: none;
    border-bottom: 1px solid #e5e5e5; }
  .contacts__creator {
    margin: 58px 0 0 0;
    padding: 0;
    width: auto;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    font-size: 19px;
    line-height: 19px;
    font-weight: 700;
    color: #000000;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%; }
  .contacts__html-icon {
    margin: 0 0 0 10px;
    padding: 0;
    width: 28px;
    height: 35px;
    background: url("../img/htmlacademy.png") center center no-repeat; }
  .contacts__icon-contain--instagram {
    background: url("../img/instagram.png") center center no-repeat; }
  .contacts__icon-contain--facebook {
    background: url("../img/facebook.png") center center no-repeat; }
  .contacts__icon-contain--twitter {
    background: url("../img/twitter.png") center center no-repeat; } }

.catalog {
  width: 320px;
  margin: 0 auto;
  padding: 0; }

.catalog__banner {
  margin: 0;
  padding: 0; }

.catalog__headline {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 175px;
  background-color: #f1f1f1;
  text-decoration: none;
  font-size: 27px;
  line-height: 27px;
  font-weight: 700;
  color: #000000; }

.catalog__zigzag {
  display: none; }

.catalog__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.catalog__unit {
  margin: 30px 0 0 0;
  padding: 0;
  width: 260px;
  height: auto;
  display: flex;
  flex-direction: column; }

.catalog__unit-image {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 195px; }

.catalog__unit-text {
  border: 1px solid #ededed; }

.catalog__unit-name {
  margin: 30px 0 0 30px;
  padding: 0;
  text-decoration: none;
  text-align: left;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000; }

.catalog__unit-size {
  margin: 20px 0 30px 30px;
  padding: 0;
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  color: #444444; }

.catalog__unit-price {
  margin: 0 30px 0 30px;
  padding: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  color: #444444;
  border-top: 1px solid #ececec; }

.catalog__unit-order {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: 0.2;
  background: url("../img/icon-cart.png") center center no-repeat;
  background-size: contain; }

.catalog__unit-image--mobile {
  display: flex; }

.catalog__unit-image--tablet {
  display: none; }

.catalog__unit-image--desktop {
  display: none; }

@media (min-width: 768px) {
  .catalog {
    margin: 0 auto;
    padding: 0;
    width: 768px; }
  .catalog__banner {
    margin: 0;
    padding: 0;
    position: relative; }
  .catalog__headline {
    margin: 0 0 80px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 225px;
    background-color: #f1f1f1;
    text-decoration: none;
    font-size: 43px;
    line-height: 43px;
    font-weight: 700;
    color: #000000; }
  .catalog__zigzag {
    margin: 0;
    padding: 0;
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    width: 768px;
    height: 12px;
    background: url("../img/zigzag-fill-desktop.png") top center no-repeat;
    background-size: cover; }
  .catalog__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .catalog__unit {
    margin: 0 0 50px 0;
    padding: 0;
    width: 668px;
    height: auto;
    display: flex;
    flex-direction: row; }
  .catalog__unit-image {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 334px;
    height: 334px; }
  .catalog__unit-text {
    border: 1px solid #ededed;
    width: 334px;
    height: auto;
    display: flex;
    flex-direction: column; }
  .catalog__unit-name {
    margin: 30px 30px 20px 30px;
    padding: 0;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000; }
  .catalog__unit-size {
    margin: 0 30px;
    padding: 0;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #444444; }
  .catalog__unit-price {
    margin: auto 30px 0 30px;
    padding: 20px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    color: #444444;
    border-top: 1px solid #ececec; }
  .catalog__unit-order {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    -webkit-filter: brightness(0);
            filter: brightness(0);
    opacity: 0.2;
    background: url("../img/icon-cart.png") center center no-repeat;
    background-size: contain; }
  .catalog__unit-image--mobile {
    display: none; }
  .catalog__unit-image--tablet {
    display: flex; }
  .catalog__unit-image--desktop {
    display: none; } }

@media (min-width: 1250px) {
  .catalog {
    width: 1150px; }
  .catalog__banner {
    margin: 0;
    padding: 0;
    position: relative; }
  .catalog__headline {
    margin: 0 0 130px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 225px;
    background-color: #f1f1f1;
    text-decoration: none;
    font-size: 53px;
    line-height: 53px;
    font-weight: 700;
    color: #000000; }
  .catalog__zigzag {
    margin: 0;
    padding: 0;
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    width: 1250px;
    height: 18px;
    background: url("../img/zigzag-fill-desktop.png") top center no-repeat;
    background-size: cover; }
  .catalog__items {
    margin: 0 50px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial; }
  .catalog__unit {
    margin: 0 0 50px 0;
    padding: 0;
    width: 316px;
    height: auto;
    display: flex;
    flex-direction: column; }
  .catalog__unit-image {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 316px;
    height: 462px; }
  .catalog__unit-text {
    border: 1px solid #ededed;
    width: auto;
    height: 195px;
    display: flex;
    flex-direction: column; }
  .catalog__unit-name {
    margin: 30px 30px 20px 30px;
    padding: 0;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000; }
  .catalog__unit-size {
    margin: 0 30px;
    padding: 0;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #444444; }
  .catalog__unit-price {
    margin: auto 30px 0 30px;
    padding: 20px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    color: #444444;
    border-top: 1px solid #ececec; }
  .catalog__unit-order {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    -webkit-filter: brightness(0);
            filter: brightness(0);
    opacity: 0.2;
    background: url("../img/icon-cart.png") center center no-repeat;
    background-size: contain; }
  .catalog__unit-image--mobile {
    display: none; }
  .catalog__unit-image--tablet {
    display: none; }
  .catalog__unit-image--desktop {
    display: flex; } }

.сreation-process {
  margin: 30px auto;
  padding: 0;
  width: 260px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec; }

.сreation-process__headline {
  margin: 25px 30px;
  padding: 0 0 0 60px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  text-decoration: none;
  text-align: left;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  background: url("../img/video.png") center left no-repeat;
  background-size: 32px 22px; }

.сreation-process__description {
  margin: 30px;
  padding: 0;
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  color: #444444; }

.сreation-process__order {
  margin: 0 0 30px 0;
  padding: 20px 25px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444; }

.сreation-process__video {
  width: 260px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/playVideo.jpg") top center no-repeat; }

@media (min-width: 768px) {
  .сreation-process {
    margin: 0 auto 60px auto;
    padding: 0;
    width: 668px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    border: 1px solid #ececec; }
  .сreation-process__headline {
    margin: 40px;
    padding: 0 0 0 60px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #444444;
    background: url("../img/video.png") center left no-repeat;
    background-size: 32px 22px; }
  .сreation-process__description {
    margin: 0 40px;
    padding: 0;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .сreation-process__order {
    margin: 40px;
    padding: 20px 25px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444; }
  .сreation-process__video {
    width: 668px;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
    background: url("../img/playVideo-tablet.jpg") top center no-repeat; } }

@media (min-width: 1250px) {
  .сreation-process {
    margin: 0 auto 60px auto;
    padding: 0;
    width: 1050px;
    height: 455px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: initial;
    align-items: initial;
    border: 1px solid #ececec; }
  .сreation-process__headline {
    margin: 50px 60px 0 80px;
    padding: 0 0 0 60px;
    width: 230px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #444444;
    background: url("../img/video.png") center left no-repeat;
    background-size: 32px 22px; }
  .сreation-process__description {
    margin: 50px 60px 0 80px;
    padding: 0;
    width: 230px;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    color: #444444; }
  .сreation-process__order {
    margin: 50px 60px 0 80px;
    padding: 20px 25px;
    width: 230px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
    border: 2px solid #444444; }
  .сreation-process__video {
    width: 668px;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
    background: url("../img/playVideo-tablet.jpg") top center no-repeat; } }
